Team Features Constraint

- Your choice of algorithm
- Limited to a maximum of 20 features
- Your choice of samples

The goal of a logistic regression is to find the best fittingmodel to describe the relationship between a binart outcome and a set of independent variables.

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier

In [4]:
pd.set_option('display.max_rows', 999)
pd.set_option('display.max_columns', 999)

In [2]:
# df = pd.read_csv('./data/cheap_train_sample.csv')

In [35]:
df = pd.read_csv('./data/large_train_sample.csv')

In [36]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,wage
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Female,0,0,40,Cuba,<=50K

In [29]:
df.shape

(32561, 14)

In [30]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
wage              0
dtype: int64

In [31]:
df['marital-status'].value_counts()

 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital-status, dtype: int64

In [43]:
df.wage.unique()

array([' <=50K', ' >50K'], dtype=object)

In [45]:
wage_dict = {
    ' <=50K': 0,
    ' >50K': 1
}

df.wage = df.wage.map(wage_dict)

In [46]:
df._get_numeric_data().columns.drop(['wage', 'fnlwgt'])

Index(['age', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week'],
      dtype='object')

In [50]:
df._get_numeric_data().columns.drop(['wage', 'fnlwgt'])
features = df._get_numeric_data().columns.drop(['wage', 'fnlwgt'])
X = df[features]
y = df.wage
ss = StandardScaler()
Xs = ss.fit_transform(X)
logr = LogisticRegression()
# logr.fit(X_train, y_train)
cross_val_score(logr, Xs, y, cv = 5, n_jobs = -1).mean()
# returns 0.8421119111238872

0.8141335784299855

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [53]:
# Gradient Boost

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

gboost = GradientBoostingClassifier()
gboost_params = {
    'max_depth': [2,3,4],
    'n_estimators': [100, 125, 150],
    'learning_rate': [.08, .1, .12]
}
gb_gs = GridSearchCV(gboost, param_grid=gboost_params, cv=3)
gb_gs.fit(X_train, y_train)
print(gb_gs.best_score_)
gb_gs.best_params_

# returns: 0.8442260442260442
# best parameters: {'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 150}

0.8442260442260442

{'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 150}

In [56]:
gboost = GradientBoostingClassifier()
gboost_params = {
    'max_depth': [4, 6, 8],
    'n_estimators': [150, 200, 250],
    'learning_rate': [.08, .1, .12]
}
gb_gs = GridSearchCV(gboost, param_grid=gboost_params, cv=3)
gb_gs.fit(X_train, y_train)
print(gb_gs.best_score_)
gb_gs.best_params_

# returns: 0.8442260442260442
# best parameters: {'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 150}

0.8442260442260442

{'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 150}

In [ ]:
gboost = GradientBoostingClassifier()

In [57]:
ada = AdaBoostClassifier(base_estimator=logr)
ada_params = {
    'n_estimators': [75, 100, 150],
    'learning_rate': [.9, 1.]
}
gs = GridSearchCV(ada, param_grid=ada_params, cv=3)
gs.fit(X_train, y_train)
print(gs.best_score_)
gs.best_params_

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8098689598689598

{'learning_rate': 0.9, 'n_estimators': 75}